body {
  font-family: "Comic Sans MS", "DejaVu Sans", Helvetica, sans-serif;
  font-size: 15pt;
  margin-left: 1em;
  margin-right: 1em;
  color: black;
  background-color: white;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 1em;
}

p {
  font-size: 1em;
  text-align: left;
}

.sneek {
  font-size: 3pt;
  color: white;
  background-color: white;
}
